{
  "openapi": "3.0.3",
  "info": {
    "title": "Lusha API Documentation",
    "version": "",
    "x-logo": {
      "url": "https://www.lusha.com/logo.png"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://lusha.com/legal/terms"
    },
    "description": "<blockquote class=\"callout\">\n\n **This is the Lusha API V3 documentation.**\n\n V3 introduces a new search-then-enrich pattern, bulk operations, AI-powered lookalikes, and richer filter capabilities. All endpoints are under `https://api.lusha.com/v3/`.\n\n  For more information on V3, refer to the [Migration Guide](/tutorials/v3-migration-guide).\n\n</blockquote>\n\n  ---\n\nLusha provides a RESTful API for querying a comprehensive dataset of business profiles and company information. Built for teams running prospecting, enrichment, automation, and analytics workflows that need accurate, continuously updated business data. The API supports both real-time and bulk use cases.\n\nUse the Lusha API to **search for new prospects**, **enrich existing records**, **react to real-world changes**, and **expand coverage** with AI-powered lookalike recommendations.\n\n> All API requests must be made over **HTTPS**. All responses are returned in **JSON** format.\n\n---\n## Available Endpoints\n\n| Category | Description |\n|---|---|\n| [**Search**](#tag/Search) | Find contacts or companies using known identifiers |\n| [**Enrich**](#tag/Enrich) | Retrieve full profile data for contacts or companies by ID |\n| [**Search & Enrich**](#tag/Search-and-Enrich) | Find and retrieve full contact or company data in a single call |\n| [**Prospecting**](#tag/Prospecting) | Filter-based search across contacts and companies |\n| [**Lookalikes**](#tag/Lookalikes) | AI-powered recommendations for similar contacts and companies |\n| [**Signals**](#tag/Signals) | Real-world activity data for contacts and companies |\n| [**Decision Makers**](#tag/Decision-Makers) | Find the most relevant decision makers across your target accounts |\n| [**Website Visits**](#tag/Website-Visits) | Companies ranked by website-visit signals for your tracked domains |\n| [**Filters**](#tag/Filters) | Discover valid filter values for prospecting |\n| [**Webhooks**](#tag/Webhooks) | Real-time signal notifications via HTTP callbacks |\n| [**Account**](#tag/Account) | Usage, credits, rate limits, and pricing |\n\n---\n\n## Data Source and Privacy\n\n**Lusha is a search platform.** The data provided is not created or directly managed by Lusha. It is sourced from publicly available information and trusted business partners.\n\nFor more details on how we collect and handle data, see our [Privacy Policy](https://lusha.com/legal/privacy-notice/).\n\n---\n\n## Authentication\n\nAll API requests require an **API key** linked to your Lusha account and plan. Pass your key in the `api_key` request header on every call.\n\n> Generate and manage your API key in the [Lusha dashboard](https://dashboard.lusha.com/enrich/api).\n\nStore your API key securely and use it only in **server-side environments**.\n\n---\n\n## Rate Limiting\n\nLusha enforces rate limits on a per-plan basis to ensure fair usage and platform stability. Limits are applied across multiple time windows (per minute, per hour, and per day), and vary depending on your account plan.\n\nRate limits for the **Credit Usage API** differ from standard endpoint limits.\n\n> **Note:** To check your current plan's limits, visit the [Lusha Help Center](https://info.lusha.com/en/articles/163856-all-there-is-to-know-about-lusha-s-api) or contact your account manager.\n\n**Rate Limit Response Headers**\n\n| Header | Description |\n|--------|-------------|\n| `x-rate-limit-daily` | Total requests allowed per day |\n| `x-daily-requests-left` | Requests remaining in your daily quota |\n| `x-daily-usage` | Requests made in the current daily period |\n| `x-rate-limit-hourly` | Total requests allowed per hour |\n| `x-hourly-requests-left` | Requests remaining in your hourly quota |\n| `x-hourly-usage` | Requests made in the current hourly period |\n| `x-rate-limit-minute` | Total requests allowed per minute |\n| `x-minute-requests-left` | Requests remaining in the current minute window |\n| `x-minute-usage` | Requests made in the current minute window |\n\n---\n## Error Codes\n\nLusha uses standard HTTP status codes to indicate the result of each request.\n\n| Code | Name | Description |\n|------|------|-------------|\n| `200` | OK | Request was successful |\n| `400` | Bad Request | Request is malformed or missing required fields |\n| `401` | Unauthorized | API key is missing or invalid |\n| `402` | Payment Required | Insufficient credits or payment needed |\n| `403` | Forbidden | Account is inactive. Contact support@lusha.com |\n| `404` | Not Found | Endpoint or resource does not exist |\n| `429` | Too Many Requests | Rate limit or daily quota exceeded |\n| `451` | Unavailable For Legal Reasons | Request blocked due to GDPR regulations |\n| `499` | Client Closed Request | Request timed out before completing |\n| `5XX` | Server Error | Issue on Lusha's end. Retry with exponential backoff |\n\n**Error Response Format**\n\n```json\n{\n  \"statusCode\": 400,\n  \"message\": \"Invalid request parameters\"\n}\n```\n\n**Tips for Handling Errors**\n\n- Verify your API key is correct and active\n- Read the `message` field for specific troubleshooting details\n- For `429` errors, wait before retrying\n- For `5XX` errors, use exponential backoff before retrying\n",
    "contact": {
      "name": "Lusha Support",
      "url": "https://api.lusha.com",
      "email": "support@lusha.com"
    },
    "termsOfService": "https://lusha.com/legal/terms",
    "x-privacy-policy": {
      "name": "Privacy Policy",
      "url": "https://lusha.com/legal/privacy-notice/"
    }
  },
  "servers": [
    {
      "url": "https://api.lusha.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Search",
      "description": "**Search APIs:** Find contacts or companies using known identifiers.\n\nLook up contacts by `id`, `linkedinUrl`, `email`, or `firstName` + `lastName` + `companyName`/`companyDomain`. Look up companies by `id`, `name`, or `domain`.\n\nReturns a non-PII preview of each profile with a `has` field listing available data points and a `canReveal` field showing what can be unlocked via Enrich.\n\n> **Billing:** Charged per successful result via the `api_search` action.\n",
      "x-tag-expanded": true
    },
    {
      "name": "Enrich",
      "description": "**Enrich APIs:** Retrieve full profile data for contacts or companies by ID.\n\nPass IDs from Search results to reveal emails, phones, and full firmographic data.\n\n> **Billing:** Charged per revealed field via per-datapoint pricing (`revealEmail`, `revealPhone`, `reveal_company`).\n",
      "x-tag-expanded": true
    },
    {
      "name": "Search & Enrich",
      "description": "**Search & Enrich APIs:** Find and retrieve full contact or company data in a single call.\n\nCombines Search and Enrich into one request. Provide identifiers and control what gets revealed via the `reveal` field.\n\n> **Billing:** Two charges apply \u2014 one for the search (`api_search`) and one per revealed field.\n",
      "x-tag-expanded": true
    },
    {
      "name": "Prospecting",
      "description": "**Prospecting APIs:** Filter-based search for contacts and companies.\n\nUse prospecting to find new records that match your Ideal Customer Profile (ICP). Apply rich filters across:\n\n- **Contact attributes:** title, seniority, location, signals\n- **Company attributes:** size, revenue, industry, technologies, intent\n\nResults are paginated: up to **1,000 pages x 50 results = 50,000 results** per query.\n\n> **Billing:** Uses the capture/charge model with `api_search` actions. Signal charges apply additionally.\n",
      "x-tag-expanded": true
    },
    {
      "name": "Lookalikes",
      "description": "**Lookalike APIs:** Use AI-powered recommendations to discover contacts and companies similar to your best existing customers. The Contact Lookalikes and Company Lookalikes endpoints return paginated results you can pipe directly into Enrich for full data.\n",
      "x-tag-expanded": true
    },
    {
      "name": "Signals",
      "description": "Real-world activity data for contacts and companies.\n\nSignals are available as standalone endpoints or as an optional `signals` filter on Search and Prospecting endpoints.\n\n**Contact signal types:** `promotion`, `companyChange`, `allSignals`\n\n**Company signal types:** `headcountIncrease1m/3m/6m/12m`, `headcountDecrease1m/3m/6m/12m`, `surgeInHiring`, `surgeInHiringByDepartment`, `surgeInHiringByLocation`, `websiteTrafficIncrease`, `websiteTrafficDecrease`, `itSpendIncrease`, `itSpendDecrease`, `riskNews`, `commercialActivityNews`, `corporateStrategyNews`, `financialEventsNews`, `peopleNews`, `marketIntelligenceNews`, `productActivityNews`, `allSignals`\n\nCredits are charged per matched signal per result via `showSignalsContact` or `showSignalsCompany`.\n",
      "x-tag-expanded": true
    },
    {
      "name": "Decision Makers",
      "description": "Supply companies by domain or Lusha ID and get back the most relevant decision makers per company, ranked by fit. Results are free contact previews \u2014 pass the returned id values to Enrich Contacts to reveal emails and phones.\n",
      "x-tag-expanded": true
    },
    {
      "name": "Website Visits",
      "description": "Retrieve companies ranked by website-visit signals for your tracked domains.\n\n Domains must be configured for tracking in the dashboard. Each result combines a V3 company firmographic preview with behavioral visit metrics (score, sessions, unique visitors, avg session length, and more).\n",
      "x-tag-expanded": true
    },
    {
      "name": "Filters",
      "description": "**Filter APIs:** Retrieve available filter values for prospecting.\n\nUse the discovery endpoints to list all available filter types, then fetch valid values for a specific filter type before building a prospecting request.\n\n**Contact filter types:** `departments`, `seniority`, `existingDataPoints`, `countries`, `locations`\n\n**Company filter types:** `names`, `sizes`, `revenues`, `locations`, `sics`, `naics`, `industriesLabels`, `intentTopics`, `technologies`\n",
      "x-tag-expanded": true
    },
    {
      "name": "Webhooks",
      "description": "Subscribe to real-time notifications when contacts change jobs or companies experience key business events.\n\nWebhooks deliver HTTP POST requests to your endpoints when signals occur - from promotions and job changes to company growth.\n\n> For a full list of available signals, refer to [**Signal Options**](https://docs.lusha.com/apis/openapi/signals/getsignaloptions).\n---\n**Key Features:**\n- Real-time contact & company signal notifications\n- Bulk subscription management (up to 25 items per request)\n- Secure delivery with HMAC-SHA256 signatures\n- Delivery monitoring with audit logs\n\n **Available Endpoints:**\n\n| Method | Endpoint | Purpose |\n|--------|----------|---------|\n| POST | `/api/subscriptions` | Create subscriptions (bulk supported) |\n| GET | `/api/subscriptions` | List all subscriptions |\n| GET | `/api/subscriptions/{id}` | Get subscription by ID |\n| PATCH | `/api/subscriptions/{id}` | Update subscription |\n| POST | `/api/subscriptions/delete` | Delete subscriptions (bulk supported) |\n| POST | `/api/subscriptions/{id}/test` | Test subscription delivery |\n| GET | `/api/audit-logs` | Get webhook delivery logs |\n| GET | `/api/audit-logs/stats` | Get delivery statistics |\n| GET | `/api/account/secret` | Get account webhook secret |\n| POST | `/api/account/secret/regenerate` | Regenerate account secret |\n| POST | `/api/subscriptions/opt-out` | Subscribe to contact opt-out notifications |\n\n> **Webhook Delivery Acknowledgment:** When receiving webhook deliveries (POST requests), your endpoint must acknowledge with a specific response format. See the [Create Subscription](#operation/createSubscription) endpoint for the required acknowledgment structure.\n      ---\n\n<details>\n<summary><strong>Rate Limits</strong></summary>\n\n| Operation | Limit |\n|-----------|-------|\n| API Requests | 100 requests/minute per account |\n| Create Subscriptions | 25 items per request |\n| Delete Subscriptions | 25 items per request |\n\n</details>\n\n---\n\n<details>\n<summary><strong>Security & Verification</strong></summary>\n\n**HTTPS Requirement:**\n- Production webhook URLs **must** use HTTPS\n- HTTP URLs are not accepted\n\n**Signature Verification:**\n\nAll webhook deliveries include an `X-Lusha-Signature` header containing an HMAC-SHA256 signature. Verify this signature to ensure the request is from Lusha:\n\n1. Extract the `X-Lusha-Signature` and `X-Lusha-Timestamp` headers\n2. Concatenate: `timestamp + \".\" + JSON.stringify(payload)`\n3. Compute HMAC-SHA256 using your webhook secret\n4. Compare the computed signature with the received signature\n\n**Example (Node.js):**\n```javascript\nconst crypto = require('crypto');\n\nfunction verifySignature(payload, signature, timestamp, secret) {\n  const signedPayload = `${timestamp}.${JSON.stringify(payload)}`;\n  const expectedSignature = crypto\n    .createHmac('sha256', secret)\n    .update(signedPayload)\n    .digest('hex');\n\n  return crypto.timingSafeEqual(\n    Buffer.from(signature),\n    Buffer.from(expectedSignature)\n  );\n}\n```\n\n> **Security Best Practice:** Always verify webhook signatures to prevent spoofed requests.\n\n</details>\n\n---\n\n<details>\n<summary><strong>Credits & Billing</strong></summary>\n\n**Credit Charges:**\n- Credits are charged when signals are detected and delivered to your webhook\n- The `creditsCharged` field in the webhook payload indicates how many credits were used\n- Credits are deducted from your account balance per signal type\n\n**No Duplicate Charges:**\n- Each signal is delivered once and charged once\n- Webhook delivery retries do not incur additional charges\n\n</details>\n\n---\n\n<details>\n<summary><strong>Error Response Format</strong></summary>\n\nAll error responses follow this format:\n```json\n{\n  \"statusCode\": 400,\n  \"message\": \"Validation failed\",\n  \"errors\": [\"entityType must be one of: contact, company\"]\n}\n```\n\n| Field | Type | Description |\n|-------|------|-------------|\n| `statusCode` | number | HTTP status code |\n| `message` | string | Error message |\n| `errors` | string[] | Detailed error messages (optional) |\n\n</details>\n\n---\n",
      "x-tag-expanded": true
    },
    {
      "name": "Account",
      "description": "**Account API:** Retrieve account usage, credit balance, rate limits, plan details, and pricing.\n\nUse this endpoint to monitor consumption and understand the credit cost of each action type in the public API flow.\n\n> **Rate limit:** 5 requests per minute.\n",
      "x-tag-expanded": true
    }
  ],
  "paths": {
    "/v3/contacts/search": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Search Contacts",
        "operationId": "searchContacts",
        "description": "Look up contacts by identifier. Returns a non-PII preview of each profile \u2014 no emails or phone numbers.\n\n**Accepted identifiers (one required per contact):**\n- Lusha contact `id`\n- `linkedinUrl`\n- `email`\n- `firstName` + `lastName` + `companyName` or `companyDomain`\n\nUp to 100 contacts per request. Each result includes:\n- `has` \u2014 data points available on this profile\n- `canReveal` \u2014 what you can unlock via Enrich Contacts, and the credit cost\n\nPass a `signals` filter to narrow results to contacts with recent activity (e.g. promotion, job change).\n\n> **Billing:** Charged per successful result via the `api_search` action.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V3ContactsSearchRequest"
              },
              "example": {
                "contacts": [
                  {
                    "clientReferenceId": "my-ref-1",
                    "firstName": "Orit",
                    "lastName": "Shilvock",
                    "companyName": "Lusha",
                    "companyDomain": "lusha.com"
                  },
                  {
                    "clientReferenceId": "my-ref-2",
                    "linkedinUrl": "https://www.linkedin.com/in/shmulikwillinger"
                  },
                  {
                    "clientReferenceId": "my-ref-3",
                    "email": "gal.ashkelon@lusha.com"
                  },
                  {
                    "clientReferenceId": "my-ref-4",
                    "id": "12345"
                  }
                ],
                "options": {
                  "includePartialProfiles": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3ContactsSearchResponse"
                },
                "example": {
                  "requestId": "6e4b1192-9440-42c4-9a3e-793ddef6d73c",
                  "results": [
                    {
                      "clientReferenceId": "my-ref-1",
                      "id": "4415824633",
                      "firstName": "Orit",
                      "lastName": "Shilvock",
                      "jobTitle": {
                        "title": "Vice President of Partnerships",
                        "departments": [
                          "Business Development"
                        ],
                        "seniority": "Vice President"
                      },
                      "company": {
                        "id": "16303253",
                        "name": "Lusha",
                        "domain": "www.lusha.com",
                        "industry": "Technology, Information & Media"
                      },
                      "location": {
                        "country": "Israel",
                        "city": "Tel Aviv"
                      },
                      "socialLinks": {
                        "linkedin": "https://www.linkedin.com/in/orit-shilvock-6243bb5"
                      },
                      "has": [
                        "firstName",
                        "lastName",
                        "jobTitle",
                        "location",
                        "socialLinks",
                        "emails"
                      ],
                      "canReveal": [
                        {
                          "field": "emails",
                          "credits": 1
                        }
                      ]
                    },
                    {
                      "clientReferenceId": "my-ref-4",
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Contact not found"
                      }
                    }
                  ],
                  "billing": {
                    "creditsCharged": 1,
                    "resultsReturned": 3
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v3/contacts/enrich": {
      "post": {
        "tags": [
          "Enrich"
        ],
        "summary": "Enrich Contacts",
        "operationId": "enrichContacts",
        "description": "Reveal full contact data for contacts you've already found via Search Contacts.\n\nPass up to 100 contact `ids` (from the search response). Use the `reveal` field to control what gets unlocked:\n- `emails` \u2014 work and personal email addresses\n- `phones` \u2014 mobile and direct phone numbers\n- Omit `reveal` to get both by default\n\n> **Billing:** Charged per revealed field (email or phone) via per-datapoint pricing.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V3ContactsEnrichRequest"
              },
              "example": {
                "ids": [
                  "4389064654",
                  "4389064624"
                ],
                "reveal": [
                  "emails",
                  "phones"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3ContactsEnrichResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v3/contacts/search-and-enrich": {
      "post": {
        "tags": [
          "Search & Enrich"
        ],
        "summary": "Search and Enrich Contacts",
        "operationId": "searchAndEnrichContacts",
        "description": "Find contacts and reveal their full data in a single call. Combines Search and Enrich into one request.\n\nProvide contact identifiers the same way you would for Search Contacts. Use the `reveal` field to control what gets unlocked (`emails`, `phones`, or both).\n\nUp to 100 contacts per request.\n\n> **Billing:** Two charges apply \u2014 one for the search (`api_search`) and one per revealed field.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V3ContactsSearchAndEnrichRequest"
              },
              "example": {
                "contacts": [
                  {
                    "clientReferenceId": "my-ref-1",
                    "firstName": "Orit",
                    "lastName": "Shilvock",
                    "companyName": "Lusha",
                    "companyDomain": "lusha.com"
                  }
                ],
                "reveal": [
                  "emails",
                  "phones"
                ],
                "options": {
                  "includePartialProfiles": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3ContactsSearchAndEnrichResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v3/companies/search": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Search Companies",
        "operationId": "searchCompanies",
        "description": "Look up companies by identifier. Returns a preview of each company profile.\n\n**Accepted identifiers (at least one required per company):**\n- Lusha company `id`\n- `name`\n- `domain`\n\nUp to 100 companies per request. Each result includes a `has` field listing the data available via Enrich Companies.\n\n> **Billing:** Charged per successful result via the `api_search` action.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V3CompaniesSearchRequest"
              },
              "example": {
                "companies": [
                  {
                    "clientReferenceId": "comp-ref-1",
                    "name": "Lusha"
                  },
                  {
                    "clientReferenceId": "comp-ref-2",
                    "domain": "salesforce.com"
                  }
                ],
                "options": {
                  "includePartialProfiles": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3CompaniesSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v3/companies/enrich": {
      "post": {
        "tags": [
          "Enrich"
        ],
        "summary": "Enrich Companies",
        "operationId": "enrichCompanies",
        "description": "Reveal full company data for companies you've already found via Search Companies.\n\nPass up to 100 company `ids`. Each enriched result includes firmographics, industry codes, locations, technologies, funding, and buyer intent topics.\n\n> **Billing:** Charged per successful result via the `reveal_company` action.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V3CompaniesEnrichRequest"
              },
              "example": {
                "ids": [
                  "16303253",
                  "12790225"
                ],
                "reveal": [
                  "employeesByLocation",
                  "employeesByDepartment",
                  "employeesBySeniority",
                  "competitors",
                  "intent"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3CompaniesEnrichResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v3/companies/search-and-enrich": {
      "post": {
        "tags": [
          "Search & Enrich"
        ],
        "summary": "Search and Enrich Companies",
        "operationId": "searchAndEnrichCompanies",
        "description": "Find companies and reveal their full data in a single call. Combines Search and Enrich into one request.\n\nProvide company identifiers the same way you would for Search Companies. Up to 100 companies per request.\n\n> **Billing:** Same as Enrich Companies \u2014 charged per successful result via the `reveal_company` action.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V3CompaniesSearchAndEnrichRequest"
              },
              "example": {
                "companies": [
                  {
                    "clientReferenceId": "comp-ref-1",
                    "name": "Lusha"
                  },
                  {
                    "clientReferenceId": "comp-ref-2",
                    "domain": "salesforce.com"
                  }
                ],
                "options": {
                  "includePartialProfiles": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3CompaniesSearchAndEnrichResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v3/contacts/prospecting": {
      "post": {
        "tags": [
          "Prospecting"
        ],
        "summary": "Prospecting Contacts",
        "operationId": "prospectingContacts",
        "description": "Search for contacts that match your Ideal Customer Profile using rich filter criteria across contact attributes (title, seniority, department, location, existing data points, signals) and company attributes (size, revenue, industry, technologies, intent).\n\nResults are paginated up to 50,000 total (1,000 pages \u00d7 50 results). Use the returned contact `id` values with Enrich Contacts to reveal emails and phones.\n\n> **Billing:** Charged per result via `api_search`. If signals are requested, an additional charge applies per matched signal per result.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V3ProspectingContactsRequest"
              },
              "example": {
                "pagination": {
                  "page": 0,
                  "size": 50
                },
                "filters": {
                  "contacts": {
                    "include": {
                      "departments": [
                        "Sales"
                      ],
                      "locations": [
                        {
                          "country": "United States"
                        }
                      ],
                      "existingDataPoints": [
                        "work_email"
                      ]
                    }
                  },
                  "companies": {
                    "include": {
                      "locations": [
                        {
                          "country": "United States"
                        }
                      ],
                      "businessModel": [
                        "B2B"
                      ],
                      "companyType": [
                        "Public Company"
                      ]
                    }
                  }
                },
                "options": {
                  "includePartialProfiles": true,
                  "excludeDnc": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3ProspectingContactsResponse"
                },
                "example": {
                  "requestId": "fa828378-7a8e-4e5d-9f72-0270e7f7ab51",
                  "pagination": {
                    "page": 0,
                    "size": 50,
                    "total": 670550
                  },
                  "results": [
                    {
                      "id": "670138733",
                      "firstName": "Ting",
                      "lastName": "Tsou"
                    }
                  ],
                  "billing": {
                    "creditsCharged": 2,
                    "resultsReturned": 50
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v3/companies/prospecting": {
      "post": {
        "tags": [
          "Prospecting"
        ],
        "summary": "Prospecting Companies",
        "operationId": "prospectingCompanies",
        "description": "Search for companies that match your target market using rich filter criteria: size, revenue range, industry, sub-industry, technologies, locations, SIC/NAICS codes, buyer intent topics, and signal activity.\n\nResults are paginated up to 50,000 total. Use the returned company `id` values with Enrich Companies to get full firmographic data.\n\n> **Billing:** Charged per result via `api_search`. If signals are requested, an additional charge applies per matched signal per result.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V3ProspectingCompaniesRequest"
              },
              "example": {
                "pagination": {
                  "page": 0,
                  "size": 25
                },
                "filters": {
                  "companies": {
                    "include": {
                      "sizes": [
                        {
                          "min": 1,
                          "max": 1000
                        }
                      ],
                      "revenues": [
                        {
                          "min": 10000000
                        }
                      ],
                      "locations": [
                        {
                          "country": "United States"
                        }
                      ],
                      "technologies": [
                        "React",
                        "Node.js"
                      ],
                      "technologiesCondition": "or",
                      "mainIndustriesIds": [
                        1,
                        5
                      ],
                      "intentTopics": [
                        "Cloud Migration"
                      ]
                    },
                    "exclude": {
                      "domains": [
                        "competitor.com"
                      ]
                    }
                  }
                },
                "options": {
                  "includePartialProfiles": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3ProspectingCompaniesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v3/contacts/lookalike": {
      "post": {
        "tags": [
          "Lookalikes"
        ],
        "summary": "Contact Lookalikes",
        "operationId": "getContactLookalikes",
        "description": "Find contacts similar to a set of seed contacts using AI-powered recommendations.\n\nProvide 5-100 seed contacts via LinkedIn URLs, emails, Lusha IDs, or name + company. The API returns contacts who share similar roles, seniority, and company profiles.\n\n**Pagination without duplicates:** on your first request, omit `dedupeSessionId` \u2014 the server generates one and returns it. Pass it on every subsequent request to get more results without repeating contacts already seen. Sessions are retained for 30 days.\n\n> **Billing:** Charged per result via the `lookalikeContact` action.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactLookalikesRequest"
              },
              "examples": {
                "firstRequest": {
                  "summary": "First request (server generates dedupeSessionId)",
                  "value": {
                    "seeds": {
                      "linkedinUrls": [
                        "https://www.linkedin.com/in/orit-shilvock-6243bb5"
                      ],
                      "emails": [
                        "gal.ashkelon@lusha.com"
                      ],
                      "ids": [
                        "1234"
                      ]
                    },
                    "exclude": {
                      "emails": [
                        "existing@customer.com"
                      ]
                    },
                    "limit": 25
                  }
                },
                "secondRequest": {
                  "summary": "Second request (get more using dedupeSessionId)",
                  "value": {
                    "dedupeSessionId": "58adaa77-7a6e-4c9b-8c2d-820a6538e613",
                    "seeds": {
                      "linkedinUrls": [
                        "https://www.linkedin.com/in/shmulikwillinger"
                      ]
                    },
                    "limit": 25
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved contact lookalikes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactLookalikesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "description": "Insufficient credits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "410": {
            "description": "dedupeSessionId is invalid or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DedupeSessionInvalidError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v3/companies/lookalike": {
      "post": {
        "tags": [
          "Lookalikes"
        ],
        "summary": "Company Lookalikes",
        "operationId": "getCompanyLookalikes",
        "description": "Find companies similar to a set of seed companies using AI-powered recommendations.\n\nProvide 5-100 seed companies via domains or LinkedIn URLs. The API returns companies with similar size, industry, and profile.\n\n**Pagination without duplicates:** on your first request, omit `dedupeSessionId` \u2014 the server generates one and returns it. Pass it on every subsequent request to get more results without repeating companies already seen. Sessions are retained for 30 days.\n\n> **Billing:** Charged per result via the `lookalikeCompany` action.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyLookalikesRequest"
              },
              "examples": {
                "firstRequest": {
                  "summary": "First request (server generates dedupeSessionId)",
                  "value": {
                    "seeds": {
                      "domains": [
                        "sap.com",
                        "oracle.com"
                      ],
                      "linkedinUrls": [
                        "https://www.linkedin.com/company/google"
                      ]
                    },
                    "exclude": {
                      "domains": [
                        "existingcustomer.com"
                      ]
                    },
                    "limit": 100
                  }
                },
                "secondRequest": {
                  "summary": "Second request (get more using dedupeSessionId)",
                  "value": {
                    "dedupeSessionId": "58adaa77-7a6e-4c9b-8c2d-820a6538e613",
                    "seeds": {
                      "domains": [
                        "sap.com"
                      ]
                    },
                    "limit": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved company lookalikes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyLookalikesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "description": "Insufficient credits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "410": {
            "description": "dedupeSessionId is invalid or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v3/contacts/signals": {
      "post": {
        "tags": [
          "Signals"
        ],
        "summary": "Contact Signals",
        "operationId": "getContactSignals",
        "description": "Retrieve signal events for a list of contacts \u2014 job changes and promotions.\n\nPass up to 100 contact `ids`. Use `signalTypes` to specify which events to return (`promotion`, `companyChange`, or `allSignals`). Optionally set a `startDate` to limit results to recent activity.\n\n> **Billing:** Charged per matched signal per result via the `showSignalsContact` action.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V3ContactSignalsRequest"
              },
              "example": {
                "ids": [
                  "4389064624",
                  "4389064654"
                ],
                "signalTypes": [
                  "allSignals"
                ],
                "startDate": "2025-01-01"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3ContactSignalsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v3/companies/signals": {
      "post": {
        "tags": [
          "Signals"
        ],
        "summary": "Company Signals",
        "operationId": "getCompanySignals",
        "description": "Retrieve signal events for a list of companies \u2014 hiring activity, headcount changes, web traffic, IT spend, and news.\n\nPass up to 100 company `ids`. Use `signalTypes` to specify which signals to return (or use `allSignals`). Optionally set a `startDate` to limit results to recent activity.\n\n> **Billing:** Charged per matched signal per result via the `showSignalsCompany` action.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V3CompanySignalsRequest"
              },
              "example": {
                "ids": [
                  "16303253"
                ],
                "signalTypes": [
                  "allSignals"
                ],
                "startDate": "2025-01-01",
                "maxResultsPerSignal": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3CompanySignalsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v3/contacts/signals/types": {
      "get": {
        "tags": [
          "Signals"
        ],
        "summary": "Get Contact Signal Types",
        "operationId": "getContactSignalTypes",
        "description": "Returns the full list of supported signal types for contacts.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactSignalTypesResponse"
                },
                "example": {
                  "signalTypes": [
                    "allSignals",
                    "promotion",
                    "companyChange"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v3/companies/signals/types": {
      "get": {
        "tags": [
          "Signals"
        ],
        "summary": "Get Company Signal Types",
        "operationId": "getCompanySignalTypes",
        "description": "Returns the full list of supported signal types for companies.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySignalTypesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v3/companies/signals/filters": {
      "get": {
        "tags": [
          "Signals"
        ],
        "summary": "Get Company Signal Filters (Discovery)",
        "operationId": "getCompanySignalFilters",
        "description": "Returns all available filter types for company signals and whether each requires a search query.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilterTypesDiscoveryResponse"
                },
                "example": {
                  "availableFilters": [
                    {
                      "filterType": "newsEventTypes",
                      "requiresQuery": false
                    },
                    {
                      "filterType": "hiringByDepartments",
                      "requiresQuery": false
                    },
                    {
                      "filterType": "hiringByLocations",
                      "requiresQuery": true
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v3/companies/signals/filters/{filterType}": {
      "get": {
        "tags": [
          "Signals"
        ],
        "summary": "Get Company Signal Filter Values",
        "operationId": "getCompanySignalFilterValues",
        "description": "Returns valid values for a single company signal filter type.\n\n| Filter type | Query required? |\n|---|---|\n| `newsEventTypes` | No |\n| `hiringByDepartments` | No |\n| `hiringByLocations` | Yes (2-256 chars) |\n",
        "parameters": [
          {
            "name": "filterType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "newsEventTypes",
                "hiringByDepartments",
                "hiringByLocations"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 256
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilterValuesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v3/contacts/decision-makers": {
      "post": {
        "tags": [
          "Decision Makers"
        ],
        "summary": "Get Decision Makers",
        "x-badges": [
          {
            "name": "Beta",
            "color": "purple"
          }
        ],
        "operationId": "getDecisionMakers",
        "description": "Resolve each supplied company to a Lusha company ID, rank the most relevant decision makers per company using the buying-committee-ranker model, and return them grouped per company.\n\nResults are free previews \u2014 name, title, company, location, LinkedIn, seniority, and department \u2014 with `has` and `canReveal` fields. Reveal emails and phones separately via Enrich Contacts.\n\n**Accepted company identifiers (exactly one required per entry):**\n- `domain` \u2014 resolved to a Lusha company ID server-side\n- `id` \u2014 encrypted Lusha company ID (`vN.\u2026`); legacy numeric IDs accepted during transition\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecisionMakersRequest"
              },
              "example": {
                "companies": [
                  {
                    "domain": "google.com",
                    "clientReferenceId": "ref-1"
                  },
                  {
                    "id": "v1.AbCdEfGhIjKlMnOpQrStUvWxYz012345"
                  }
                ],
                "pagination": {
                  "page": 5,
                  "size": 10
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecisionMakersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v3/companies/website-visits": {
      "post": {
        "tags": [
          "Website Visits"
        ],
        "summary": "Get Website Visits",
        "x-badges": [
          {
            "name": "Beta",
            "color": "purple"
          }
        ],
        "operationId": "getWebsiteVisits",
        "description": "Returns companies ranked by website-visit signals for your tracked domains and date range.\n\nDomains must be configured for tracking in the Lusha dashboard \u2014 they are resolved to site IDs server-side. Each result combines a V3 company firmographic preview (same shape as Search Companies) with behavioral visit metrics.\n\n**Notes:**\n- Date range must be \u2264 3 months\n- If any requested domain is not configured for tracking, the entire request fails with `400`\n- `limit` accepts 1\u2013150\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteVisitsRequest"
              },
              "example": {
                "domains": [
                  "lusha.com",
                  "google.com"
                ],
                "startDate": "2026-01-01",
                "endDate": "2026-03-18",
                "pagination": {
                  "size": 25,
                  "page": 0
                },
                "sort": {
                  "by": "score",
                  "order": "desc"
                },
                "filters": {
                  "scoreBands": [
                    "hot",
                    "warm"
                  ],
                  "score": {
                    "min": 50
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsiteVisitsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v3/contacts/prospecting/filters": {
      "get": {
        "tags": [
          "Filters"
        ],
        "summary": "Get Contact Filter Types (Discovery)",
        "operationId": "getContactFilterTypes",
        "description": "Returns all available filter types for contact prospecting and whether each requires a search query.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilterTypesDiscoveryResponse"
                },
                "example": {
                  "availableFilters": [
                    {
                      "filterType": "locations",
                      "requiresQuery": true
                    },
                    {
                      "filterType": "departments",
                      "requiresQuery": false
                    },
                    {
                      "filterType": "seniority",
                      "requiresQuery": false
                    },
                    {
                      "filterType": "countries",
                      "requiresQuery": false
                    },
                    {
                      "filterType": "existingDataPoints",
                      "requiresQuery": false
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v3/contacts/prospecting/filters/{filterType}": {
      "get": {
        "tags": [
          "Filters"
        ],
        "summary": "Get Contact Filter Values",
        "operationId": "getContactFilterValues",
        "description": "Returns valid values for a single contact filter type.\n\n| Filter type | Query required? |\n|---|---|\n| `departments` | No |\n| `seniority` | No |\n| `existingDataPoints` | No |\n| `countries` | No |\n| `locations` | Yes (2-256 chars) |\n",
        "parameters": [
          {
            "name": "filterType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "departments",
                "seniority",
                "existingDataPoints",
                "countries",
                "locations"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 256
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilterValuesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v3/companies/prospecting/filters": {
      "get": {
        "tags": [
          "Filters"
        ],
        "summary": "Get Company Filter Types (Discovery)",
        "operationId": "getCompanyFilterTypes",
        "description": "Returns all available filter types for company prospecting and whether each requires a search query.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilterTypesDiscoveryResponse"
                },
                "example": {
                  "availableFilters": [
                    {
                      "filterType": "names",
                      "requiresQuery": true
                    },
                    {
                      "filterType": "technologies",
                      "requiresQuery": true
                    },
                    {
                      "filterType": "industriesLabels",
                      "requiresQuery": false
                    },
                    {
                      "filterType": "sizes",
                      "requiresQuery": false
                    },
                    {
                      "filterType": "revenues",
                      "requiresQuery": false
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v3/companies/prospecting/filters/{filterType}": {
      "get": {
        "tags": [
          "Filters"
        ],
        "summary": "Get Company Filter Values",
        "operationId": "getCompanyFilterValues",
        "description": "Returns valid values for a single company filter type.\n\n| Filter type | Query required? |\n|---|---|\n| `sizes` | No |\n| `revenues` | No |\n| `sics` | No |\n| `naics` | No |\n| `intentTopics` | No |\n| `industriesLabels` | No |\n| `names` | Yes (2-256 chars) |\n| `technologies` | Yes (2-256 chars) |\n| `locations` | Yes (2-256 chars) |\n",
        "parameters": [
          {
            "name": "filterType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "names",
                "sizes",
                "revenues",
                "locations",
                "sics",
                "naics",
                "industriesLabels",
                "intentTopics",
                "technologies"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 256
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilterValuesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/subscriptions": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create Subscription",
        "operationId": "createSubscription",
        "description": "Creates one or more webhook subscriptions for real-time signal notifications. Maximum 25 subscriptions per request.\n\nWebhooks are delivered with automatic retry (max 3 attempts, exponential backoff); subscriptions auto-disable after max retries exceeded. Your endpoint must acknowledge deliveries with `{\"received\": true, \"timestamp\": \"...\", \"webhookId\": \"...\"}` and a `2xx` status within 10 seconds.\n\n> Ensure your account has a webhook secret before creating subscriptions \u2014 see [Regenerate Account Secret](#operation/regenerateAccountSecret).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscriptionRequest"
              },
              "examples": {
                "singleSubscription": {
                  "summary": "Create a single subscription",
                  "value": {
                    "defaults": {
                      "entityType": "contact",
                      "signalTypes": [
                        "promotion",
                        "companyChange"
                      ],
                      "url": "https://example.com/webhooks/lusha"
                    },
                    "subscriptions": [
                      {
                        "entityId": "123456",
                        "name": "My Test Webhook"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscriptions created (full or partial success)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubscriptionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - URL validation failed or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden - feature not available or limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List Subscriptions",
        "operationId": "listSubscriptions",
        "description": "Returns all webhook subscriptions for your account, sorted by `createdAt` descending. Default limit 10, max 100. The webhook `secret` is never returned in list responses.\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of subscriptions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/subscriptions/{id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get Subscription by ID",
        "operationId": "getSubscriptionById",
        "description": "Returns a single webhook subscription by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "507f1f77bcf86cd799439011"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionWithoutSecret"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update Subscription",
        "operationId": "updateSubscription",
        "description": "Updates an existing webhook subscription. All fields are optional.\n\nSetting `isActive: true` on a disabled subscription clears `blockReason`/`blockedAt` and resets the retry counter. Setting `regenerateSecret: true` generates a new secret that affects **all subscriptions** for the account and is only shown once.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "507f1f77bcf86cd799439011"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/subscriptions/{id}/test": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Test Subscription",
        "operationId": "testSubscription",
        "description": "Test a webhook subscription by sending a test signal. Test deliveries do not consume credits and use mock data.\n\n**Test modes:** `direct` (HTTP check only), `kafka` (fanout handler only), `full` (complete end-to-end, default).\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "507f1f77bcf86cd799439011"
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "direct",
                "kafka",
                "full"
              ],
              "default": "full"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestSubscriptionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Subscription does not belong to your account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/subscriptions/delete": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete Subscriptions",
        "operationId": "deleteSubscriptions",
        "description": "Delete one or more webhook subscriptions (max 25 IDs per request). Each subscription is processed independently; invalid IDs are reported as `NOT_FOUND`; deletion is permanent.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ids"
                ],
                "properties": {
                  "ids": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 25,
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delete operation completed (full or partial success)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSubscriptionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/audit-logs": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get Audit Logs",
        "operationId": "getAuditLogs",
        "description": "Retrieve webhook delivery logs for your account: attempts, status codes, response times, and errors. Successful logs retained 90 days; failed/DLQ retained 180 days.\n\n> **Rate limit:** 100 requests/minute per account.\n",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "success",
                "failed",
                "permanent_failure"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audit logs retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLogsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/audit-logs/stats": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get Audit Log Statistics",
        "operationId": "getAuditLogStats",
        "description": "Get delivery statistics for your account, optionally filtered by subscription.",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLogStatsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/account/secret": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get Account Secret",
        "operationId": "getAccountSecret",
        "description": "Retrieve the current account webhook secret.",
        "responses": {
          "200": {
            "description": "Account secret retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "secret"
                  ],
                  "properties": {
                    "secret": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Account secret not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/account/secret/regenerate": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Regenerate Account Secret",
        "operationId": "regenerateAccountSecret",
        "description": "Regenerate the account webhook secret. Affects **all subscriptions** for the account; the new secret is shown once and immediately invalidates the old one. This endpoint always succeeds (creates a secret if none exists).\n",
        "responses": {
          "200": {
            "description": "Account secret regenerated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "secret"
                  ],
                  "properties": {
                    "secret": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/subscriptions/opt-out": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create Opt-Out Subscription",
        "operationId": "createOptOutSubscription",
        "description": "Subscribe to real-time notifications when a contact opts out of data processing. Create one opt-out subscription per account (scoped to `contact` entity type); Lusha delivers an `OptOutWebhookPayload` to your URL whenever a contact opts out.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOptOutSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Opt-out subscription created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptOutSubscriptionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden - feature not available or opt-out subscription already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v3/account/usage": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Account Usage",
        "operationId": "getAccountUsage",
        "description": "Returns a full snapshot of your account status: credits (total/used/remaining), rate limits (daily/hourly/minute usage and reset times), plan category and renewal dates, and per-action credit pricing.\n\n> **Rate limit:** 5 requests per minute.\n",
        "responses": {
          "200": {
            "description": "Successfully retrieved account usage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUsageResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api_key",
        "description": "Your Lusha API key. Find it in your Lusha dashboard under API settings. Include this key in the `api_key` header for all requests.\n"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid input data",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "statusCode": 400,
              "message": "Invalid request parameters"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "statusCode": 401,
              "message": "Invalid API key"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "Payment required - insufficient credits",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "statusCode": 402,
              "message": "Insufficient credits for this operation"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden - account inactive or V3 access not enabled",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "accountInactive": {
                "summary": "Account inactive",
                "value": {
                  "statusCode": 403,
                  "message": "Your account is not active. Please reach out to support at support@lusha.com"
                }
              },
              "v3NotEnabled": {
                "summary": "V3 access not enabled",
                "value": {
                  "statusCode": 403,
                  "message": "V3 API access is not enabled for your account"
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Not found - resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "statusCode": 404,
              "message": "Resource not found"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too many requests - rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "statusCode": 429,
              "message": "Too many requests. Please wait before making another request."
            }
          }
        },
        "headers": {
          "x-rate-limit-daily": {
            "description": "Total requests allowed per day",
            "schema": {
              "type": "integer"
            }
          },
          "x-daily-requests-left": {
            "description": "Requests remaining in daily quota",
            "schema": {
              "type": "integer"
            }
          },
          "x-rate-limit-hourly": {
            "description": "Total requests allowed per hour",
            "schema": {
              "type": "integer"
            }
          },
          "x-hourly-requests-left": {
            "description": "Requests remaining in hourly quota",
            "schema": {
              "type": "integer"
            }
          },
          "x-rate-limit-minute": {
            "description": "Total requests allowed per minute",
            "schema": {
              "type": "integer"
            }
          },
          "x-minute-requests-left": {
            "description": "Requests remaining in current minute window",
            "schema": {
              "type": "integer"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "statusCode": 500,
              "message": "Internal server error. Please try again later."
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": [
          "statusCode",
          "message"
        ],
        "properties": {
          "statusCode": {
            "type": "integer",
            "example": 400
          },
          "message": {
            "type": "string",
            "example": "Validation failed"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "entityType must be one of: contact, company"
            ]
          }
        }
      },
      "DedupeSessionInvalidError": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "example": "DEDUPE_SESSION_INVALID"
          },
          "message": {
            "type": "string",
            "example": "The provided dedupeSessionId is invalid or expired. Generate a new request without dedupeSessionId to start a fresh run."
          }
        }
      },
      "V3Billing": {
        "type": "object",
        "description": "Credit usage summary for a V3 API request",
        "properties": {
          "creditsCharged": {
            "type": "integer",
            "example": 3
          },
          "resultsReturned": {
            "type": "integer",
            "example": 1
          }
        }
      },
      "V3SearchOptions": {
        "type": "object",
        "properties": {
          "includePartialProfiles": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "V3CanRevealItem": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "emails",
              "phones"
            ],
            "example": "emails"
          },
          "credits": {
            "type": "integer",
            "description": "Credit cost (0 when already revealed for this account)",
            "example": 1
          }
        }
      },
      "V3ItemError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "NOT_FOUND",
              "COMPLIANCE_RESTRICTED",
              "ENRICH_FAILED"
            ],
            "example": "NOT_FOUND"
          },
          "message": {
            "type": "string",
            "example": "Contact not found"
          }
        }
      },
      "V3Location": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string",
            "example": "San Francisco"
          },
          "state": {
            "type": "string",
            "example": "California"
          },
          "country": {
            "type": "string",
            "example": "United States"
          },
          "continent": {
            "type": "string",
            "example": "North America"
          },
          "countryGrouping": {
            "type": "string",
            "example": "EMEA"
          }
        }
      },
      "V3Range": {
        "type": "object",
        "properties": {
          "min": {
            "type": "integer",
            "minimum": 0,
            "example": 1
          },
          "max": {
            "type": "integer",
            "example": 1000
          }
        }
      },
      "V3PaginationRequest": {
        "type": "object",
        "required": [
          "page",
          "size"
        ],
        "properties": {
          "page": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000,
            "default": 0,
            "example": 0
          },
          "size": {
            "type": "integer",
            "minimum": 10,
            "maximum": 100,
            "default": 25,
            "example": 25
          }
        }
      },
      "V3PaginationResponse": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "example": 0
          },
          "size": {
            "type": "integer",
            "example": 25
          },
          "total": {
            "type": "integer",
            "example": 150
          }
        }
      },
      "V3ContactSearchItem": {
        "type": "object",
        "properties": {
          "clientReferenceId": {
            "type": "string",
            "example": "my-ref-1"
          },
          "id": {
            "type": "string",
            "example": "12345"
          },
          "linkedinUrl": {
            "type": "string",
            "example": "https://www.linkedin.com/in/orit-shilvock-6243bb5"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "orit.shilvock@lusha.com"
          },
          "firstName": {
            "type": "string",
            "example": "Orit"
          },
          "lastName": {
            "type": "string",
            "example": "Shilvock"
          },
          "companyName": {
            "type": "string",
            "example": "Lusha"
          },
          "companyDomain": {
            "type": "string",
            "example": "lusha.com"
          }
        }
      },
      "V3ContactSignalsDto": {
        "type": "object",
        "required": [
          "types"
        ],
        "properties": {
          "types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "allSignals",
                "promotion",
                "companyChange"
              ]
            },
            "example": [
              "promotion",
              "companyChange"
            ]
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "example": "2025-01-01"
          },
          "maxResultsPerSignal": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "example": 10
          }
        }
      },
      "V3ContactPreview": {
        "type": "object",
        "properties": {
          "clientReferenceId": {
            "type": "string",
            "example": "my-ref-1"
          },
          "id": {
            "type": "string",
            "example": "4389064704"
          },
          "firstName": {
            "type": "string",
            "example": "Orit"
          },
          "lastName": {
            "type": "string",
            "example": "Shilvock"
          },
          "jobTitle": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "example": "Vice President of Partnerships"
              },
              "departments": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "Business Development"
                ]
              },
              "seniority": {
                "type": "string",
                "example": "Vice President"
              }
            }
          },
          "company": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "16303253"
              },
              "name": {
                "type": "string",
                "example": "Lusha"
              },
              "domain": {
                "type": "string",
                "example": "www.lusha.com"
              }
            }
          },
          "location": {
            "type": "object",
            "properties": {
              "country": {
                "type": "string",
                "example": "Israel"
              },
              "state": {
                "type": "string",
                "example": "Tel Aviv District"
              },
              "city": {
                "type": "string",
                "example": "Tel Aviv"
              }
            }
          },
          "socialLinks": {
            "type": "object",
            "properties": {
              "linkedin": {
                "type": "string",
                "example": "https://www.linkedin.com/in/orit-shilvock-6243bb5"
              }
            }
          },
          "has": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "firstName",
              "lastName",
              "jobTitle",
              "location",
              "socialLinks",
              "emails"
            ]
          },
          "canReveal": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V3CanRevealItem"
            }
          },
          "signalTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "promotion",
              "companyChange"
            ]
          },
          "error": {
            "$ref": "#/components/schemas/V3ItemError"
          }
        }
      },
      "V3EmailAddress": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "orit.shilvock@lusha.com"
          },
          "type": {
            "type": "string",
            "enum": [
              "work",
              "private",
              "unknown"
            ],
            "example": "work"
          },
          "confidence": {
            "type": "string",
            "nullable": true,
            "example": "A+"
          },
          "updateDate": {
            "type": "string",
            "format": "date",
            "example": "2026-04-23"
          }
        }
      },
      "V3PhoneNumber": {
        "type": "object",
        "properties": {
          "number": {
            "type": "string",
            "example": "+14155551234"
          },
          "type": {
            "type": "string",
            "enum": [
              "mobile",
              "direct",
              "work",
              "unknown"
            ],
            "example": "mobile"
          },
          "doNotCall": {
            "type": "boolean",
            "example": false
          },
          "updateDate": {
            "type": "string",
            "format": "date",
            "example": "2026-04-23"
          }
        }
      },
      "V3ContactTag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
[...]
